<div class="max-w-[90rem] mx-auto px-4 sm:px-6 lg:px-8 py-6 relative">
    <div class="mt-8 flex flex-col">
        <img src="/images/bg-profile.png" alt="" class="w-full">

        <div class="flex flex-row justify-between mt-6 mx-6">
            <div class="flex flex-row items-center justify-start space-x-4">
                <img src="/images/default-ava.png" alt="" class="w-24 h-24 rounded-full">
                <div class="flex flex-col space-y-2">
                    <h1 class="text-2xl font-semibold">
                        <%= user.name %>
                    </h1>
                    <p class="text-gray-400 text-base">
                        <%= user.email %>
                    </p>
                </div>
            </div>
            <div class="flex flex-row items-center space-x-4">
                <!-- Password Change Button -->
                <button onclick="togglePasswordModal()"
                    class="h-[2.5rem] flex items-center px-4 py-2 text-sm font-medium text-gray-700 bg-white border border-gray-300 rounded-md hover:bg-gray-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                    Đổi mật khẩu
                </button>

                <!-- Edit Profile Button -->
                <button id="editButton" onclick="toggleEdit()"
                    class="h-[2.5rem] flex items-center px-4 py-2 text-sm font-medium text-white bg-[#4182F9] rounded-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                    Chỉnh sửa
                </button>
            </div>
        </div>

        <!-- Static View -->
        <div id="staticView" class="grid grid-cols-2 gap-12 mx-4 mt-6">
            <div class="space-y-5">
                <div class="flex flex-col space-y-2">
                    <div class="text-base font-medium text-black">Họ và tên</div>
                    <div class="text-lg text-gray-900 bg-gray-100 px-4 py-3 rounded-lg"><%- user.fullName %></div>
                </div>
                <div class="flex flex-col space-y-2">
                    <div class="text-base font-medium text-black">Ngày sinh</div>
                    <div class="text-lg text-gray-900 bg-gray-100 px-4 py-3 rounded-lg"><%- user.dob %></div>
                </div>
                <div class="flex flex-col space-y-2">
                    <div class="text-base font-medium text-black">Email liên hệ</div>
                    <div class="text-lg text-gray-900 bg-gray-100 px-4 py-3 rounded-lg"><%- user.email %></div>
                </div>
            </div>
            <div class="space-y-5">
                <div class="flex flex-col space-y-2">
                    <div class="text-base font-medium text-black">Giới tính</div>
                    <div class="text-lg text-gray-900 bg-gray-100 px-4 py-3 rounded-lg"><%- user.gender %></div>
                </div>
                <div class="flex flex-col space-y-2">
                    <div class="text-base font-medium text-black">Quốc tịch</div>
                    <div class="text-lg text-gray-900 bg-gray-100 px-4 py-3 rounded-lg"><%- user.country %></div>
                </div>
                <div class="flex flex-col space-y-2">
                    <div class="text-base font-medium text-black">Số điện thoại</div>
                    <div class="text-lg text-gray-900 bg-gray-100 px-4 py-3 rounded-lg"><%- user.phone %></div>
                </div>
            </div>
        </div>

        <!-- Edit Form -->
        <form id="editProfileForm" style="display: none;" class="grid grid-cols-2 gap-12 mx-4 mt-6">
            <div class="space-y-5">
                <div class="flex flex-col space-y-2">
                    <label class="text-base font-medium text-black">Họ và tên</label>
                    <input type="text" name="fullName" value="<%- user.fullName %>"
                        class="text-lg text-gray-900 bg-gray-100 px-4 py-3 rounded-lg focus:outline-none focus:ring-2 focus:ring-indigo-500">
                </div>
                <div class="flex flex-col space-y-2">
                    <label class="text-base font-medium text-black">Ngày sinh</label>
                    <input type="date" name="dob" value="<%- user.dob %>"
                        class="text-lg text-gray-900 bg-gray-100 px-4 py-2.5 rounded-lg focus:outline-none focus:ring-2 focus:ring-indigo-500">
                </div>
                <div class="flex flex-col space-y-2">
                    <label class="text-base font-medium text-black">Email liên hệ</label>
                    <input type="email" name="email" value="<%- user.email %>"
                        class="text-lg text-gray-900 bg-gray-100 px-4 py-3 rounded-lg focus:outline-none focus:ring-2 focus:ring-indigo-500">
                </div>
            </div>
            <div class="space-y-5">
                <div class="flex flex-col space-y-2">
                    <label class="text-base font-medium text-black">Giới tính</label>
                    <select name="gender"
                        class="text-lg text-gray-900 bg-gray-100 px-4 py-3.5 rounded-lg focus:outline-none focus:ring-2 focus:ring-indigo-500">
                        <option value="male" <%- user.gender==='male' ? 'selected' : '' %>>Nam</option>
                        <option value="female" <%- user.gender==='female' ? 'selected' : '' %>>Nữ</option>
                    </select>
                </div>
                <div class="flex flex-col space-y-2">
                    <label class="text-base font-medium text-black">Quốc tịch</label>
                    <select name="nationality"
                        class="text-lg text-gray-900 bg-gray-100 px-4 py-3.5 rounded-lg focus:outline-none focus:ring-2 focus:ring-indigo-500">
                        <option value="VN" <%- user.nationality==='VN' ? 'selected' : '' %>>Việt Nam</option>
                        <option value="US" <%- user.nationality==='US' ? 'selected' : '' %>>Hoa Kỳ</option>
                        <option value="JP" <%- user.nationality==='JP' ? 'selected' : '' %>>Nhật Bản</option>
                        <option value="KR" <%- user.nationality==='KR' ? 'selected' : '' %>>Hàn Quốc</option>
                        <option value="CN" <%- user.nationality==='CN' ? 'selected' : '' %>>Trung Quốc</option>
                        <option value="OTHER" <%- user.nationality==='OTHER' ? 'selected' : '' %>>Khác</option>
                    </select>
                </div>
                <div class="flex flex-col space-y-2">
                    <label class="text-base font-medium text-black">Số điện thoại</label>
                    <input type="tel" name="phoneNumber" value="<%- user.phoneNumber %>"
                        class="text-lg text-gray-900 bg-gray-100 px-4 py-3 rounded-lg focus:outline-none focus:ring-2 focus:ring-indigo-500">
                </div>
            </div>
        </form>
    </div>

    <div id="passwordModal" class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center"
        style="display: none;">
        <div class="bg-white rounded-lg p-8 w-[35rem]">
            <h2 class="text-2xl font-bold mb-8 flex justify-center items-center">Đổi mật khẩu</h2>

            <form action="/profile?_id=<%= user._id %>" method="POST" id="passwordForm" class="space-y-6" >
                <div class="space-y-2">
                    <input type="password" name="currentPassword" required placeholder="Nhập mật khẩu hiện tại"
                        class="w-full text-lg text-gray-900 bg-gray-100 px-4 py-3 rounded-lg focus:outline-none focus:ring-2 focus:ring-indigo-500 placeholder-gray-400">
                </div>
                
                <div class="space-y-2">
                    <input type="password" name="newPassword" required placeholder="Nhập mật khẩu mới"
                        class="w-full text-lg text-gray-900 bg-gray-100 px-4 py-3 rounded-lg focus:outline-none focus:ring-2 focus:ring-indigo-500 placeholder-gray-400">
                </div>
                
                <div class="space-y-2">
                    <input type="password" name="confirmPassword" required placeholder="Nhập lại mật khẩu mới"
                        class="w-full text-lg text-gray-900 bg-gray-100 px-4 py-3 rounded-lg focus:outline-none focus:ring-2 focus:ring-indigo-500 placeholder-gray-400">
                </div>

                <div class="flex justify-end space-x-3 mt-6">
                    <button type="button" onclick="togglePasswordModal()" 
                        class="px-4 py-2 text-gray-700 bg-gray-200 rounded-lg hover:bg-gray-300">
                        Hủy
                    </button>
                    <button type="submit" class="px-4 py-2 text-white bg-blue-600 rounded-lg hover:bg-blue-700">
                        Xác nhận
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    function toggleEdit() {
        const user = <%- JSON.stringify(user) %>; // Embed user data from server-side
        const staticView = document.getElementById('staticView');
        const editForm = document.getElementById('editProfileForm');
        const editButton = document.getElementById('editButton');

        // Toggle between static and edit mode
        if (staticView.style.display !== 'none') {
            // Switch to edit mode
            staticView.style.display = 'none';
            editForm.style.display = 'grid';
            editButton.textContent = 'Hoàn thành';
        } else {
            // Switch back to view mode and submit the form manually with PUT request
            const formData = new FormData(editForm);
            const userId = user._id;

            if (!userId) {
                alert("Không tìm thấy ID người dùng.");
                return;
            }

            fetch(`api/users?_id=${userId}`, {
                method: 'PUT', // Send a PUT request
                body: formData, // Include form data
            })
                .then((response) => response.json())
                .then((result) => {
                    if (result.ok) {
                        alert(result.message);
                        // Optionally reload or update the static view dynamically
                        window.location.reload();
                    } else {
                        alert(result.error);
                    }
                })
                .catch((error) => {
                    console.error('Error updating profile:', error);
                    alert('Có lỗi xảy ra khi cập nhật thông tin.');
                });

            // Restore the static view
            staticView.style.display = 'grid';
            editForm.style.display = 'none';
            editButton.textContent = 'Chỉnh sửa';
        }
    }

    function togglePasswordModal() {
        const modal = document.getElementById('passwordModal');
        modal.style.display = modal.style.display === 'none' || modal.style.display === '' ? 'flex' : 'none';
    }

    async function submitPasswordForm() {
        const userId = new URLSearchParams(window.location.search).get('_id');
        if (!userId) {
            alert("Không tìm thấy ID người dùng.");
            return;
        }

        const currentPassword = document.getElementById('currentPassword').value;
        const newPassword = document.getElementById('newPassword').value;
        const confirmPassword = document.getElementById('confirmPassword').value;

        const result = await response.json();
        if (response.ok) {
            alert(result.message);
            togglePasswordModal();
        } else {
            alert(result.error);
        }
    }
</script>