<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/tailwind.css">
    <script src="http://localhost:35729/livereload.js"></script>
</head>
<body>
    <%- include('../partials/HomePage/header.ejs') %>
    <div class="grid grid-cols-[7fr_3fr] max-w-[90rem] mx-auto px-4 sm:px-6 lg:px-8 py-6 relative">
        <div class="flex justify-start items-center">
            <%- include('../partials/ArticlePage/content.ejs') %>
        </div>
        <div class="flex justify-start ml-8">
            <%- include('../partials/ArticlePage/sidebar.ejs') %>
        </div>
        <div class="col-span-2 w-full mt-8 border-t border-gray-200 pt-8">
            <%- include('../partials/ArticlePage/comment.ejs', {user: user}) %>
        </div>
    </div>
    <%- include('../partials/HomePage/footer.ejs') %>
</body>
</html>