<!DOCTYPE html>
<html lang="vi">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel="stylesheet" href="/css/tailwind.css">
  <script src="http://localhost:35729/livereload.js"></script>
</head>
<body class="bg-gray-50">
  <%- include('../partials/header.ejs') %>

  <div>
    <%- include('../partials/category-slider.ejs') %>
    <%- include('../partials/main-slider.ejs') %>
    <%- include('../partials/most-viewed-slider.ejs') %>
    <%- include('../partials/top-category-slider.ejs') %>
  </div>

  <script src="/js/category-slider.js"></script>
  <script src="/js/main-slider.js"></script>
  <script src="/js/most-viewed-slider.js"></script>
</body>
</html>
